@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
  }

  h2 {
    font-weight: 600;
    font-size: 25px;
    font-size: 27px;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
  }

  h4 {
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
  }

  h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;

  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.auth {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

input {
  outline: none !important;
}

.auth-btn {
  background: linear-gradient(93.49deg,
      #fecb00 59.01%,
      #d19500 100.52%,
      #fecb00 109.82%);
  color: #0c0c0b;
  font-weight: 500;
}

.welcome-bg {
  background-image: url("/welcome-bg.svg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.welcome-bg {
  position: relative;
}

.welcome-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, transparent 0%, #FAFAFA 83%);
  opacity: 1; /* Adjust the opacity value to control the fading effect */
}

.modal-overlay::before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 2;
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
    width: 100% !important;
  }

  #sidebar.open {
    display: block;
  }
}

@media (min-width: 768px) {
  .auth-bg {
    background-image: url("/auth-bg.png");
    background-size: cover;
    width:  614px;
    height: 614px;
  }
}

