@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
  }

  h2 {
    font-weight: 600;
    font-size: 25px;
    font-size: 27px;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
  }

  h4 {
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
  }

  h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;

  }

  a.n_link{
    color: blue;
    text-decoration: underline;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  background-color: #F6F6F9;
}

.auth {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

input {
  outline: none !important;
}

.auth-btn {
  background: linear-gradient(93.49deg,
      #fecb00 59.01%,
      #d19500 100.52%,
      #fecb00 109.82%);
  color: #0c0c0b;
  font-weight: 500;
  transition: background 0.3s ease; /* Add transition for smooth color change */

  /* Hover effect */
  &:hover {
    background: linear-gradient(93.49deg,
        #ffdb58 59.01%,  /* Adjust the color for hover effect */
        #d19500 100.52%,
        #ffdb58 109.82%);
  }

  /* Active effect */
  &:active {
    opacity: 0.8; /* Adjust opacity for active effect */
  }
}


.circles-bg{
    background:
      radial-gradient(farthest-side,#fecb00 32%,yellow 90% ,purple 93%, purple 96%,transparent) left center/60px 60px,
      radial-gradient(farthest-side,#d19500 96%,transparent) bottom left/80px 80px,
      radial-gradient(farthest-side,#fecb00 96%,transparent) top right/80px 80px,
      radial-gradient(farthest-side,#fecb00 96%,transparent) 100px 50px/100px 100px,
      radial-gradient(farthest-side,#d19500 96%,transparent) top left/40px 40px,
      #000;

    background-repeat:no-repeat;
}


.welcome-bg {
  background-image: url("/welcome-bg.svg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.welcome-bg {
  position: relative;
}

.welcome-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, transparent 0%, #FAFAFA 83%);
  opacity: 1;
  /* Adjust the opacity value to control the fading effect */
}

.fixed-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.modal-overlay::before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 2;
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
    width: 100% !important;
  }

  #sidebar.open {
    display: block;
  }
}

@media (min-width: 768px) {
  .auth-bg {
    background-image: url("/auth-bg.png");
    background-size: cover;
    width: 614px;
    height: 614px;
  }
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
}


.modal-grid {
  background-image: url('/hero-grid.png');
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: white;
  border-radius: 10px;
  opacity: 1;


  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    color: #999999;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }

  .close-button:hover {
    color: #f00;
  }
}
aside {
  width: 290px;
  background: #fff;
  a {
    @apply flex px-5 py-1 items-center hover:text-secondary hover:font-medium cursor-pointer relative;
    &.active {
      @apply text-secondary font-medium items-center;
      border-right: 1px solid rgb(8, 98, 254);;
    }
    font-size: 13px;
  }
}

.btn-primary {
  background-color: #556dff;
  color: #FAFAFA;
  padding: 16px 32px;
}

.form-group {
  @apply flex flex-col flex-nowrap;
  margin-bottom: 16px;
  label {
    @apply text-sm pb-2 text-gray-500;
  }
  input[type='text'], select {
    border: 1px solid #DCDCE4;
    border-radius: 4px;
    outline: none;
    width: 270px;
    height: 40px;
  }
  button {
    background-color: #556dff;
    margin-top: 10px;
    color: #FAFAFA;
    height: 40px;
    border-radius: 4px;
  }
}