NEXT_PUBLIC_NOBOX_API_ROOT_URL=http://localhost:8020    # //http://localhost:8020   =======
# //http://localhost:8000
NEXT_PUBLIC_ALLOW_NON_VALIDATED_AUTH=1
NEXT_PUBLIC_ALLOW_T

# NEXT_PUBLIC_NOBOX_API_ROOT_URL = http://localhost:8020
NEXT_PUBLIC_NOBOX_API_ROOT_URL = http://localhost:8020
NEXT_PUBLIC_ALLOW_NON_VALIDATED_AUTH = 1
NEXT_PUBLIC_ALLOW_THIRD_PARTY_AUTH = 1
NEXT_PUBLIC_PAYSTACK_KEY = pk_test_5fcdc83729ebdc4398c836e78eccc964dcb68caf