.__blob {
  position: absolute;
  width: 559.58px;
  height: 393.54px;
  left: 435px;
  top: -352.06px;
  background: rgba(68, 36, 36, 0.2);
  border: 1px solid #000000;
  filter: blur(219px);
  // @include sm {
  //     left: 20px;
  //     top: 0;
  // }
}

.__blob-2 {
  position: absolute;
  width: 569px;
  height: 393px;
  left: -525px;
  top: -196px;
  background: linear-gradient(
    80.52deg,
    rgba(255, 198, 27, 0.15) 0%,
    rgba(255, 164, 0, 0.15) 48.15%,
    rgba(187, 85, 2, 0.15) 100%
  );
  border: 1px solid #000000;
  filter: blur(219px);
  // @include sm {
  //     left: 0;
  //     top: 0;
  // }
}

.__blob-3 {
  position: absolute;
  width: 607px;
  height: 577px;
  right: -450px;
  bottom: -560px;
  background: linear-gradient(
    80.52deg,
    rgba(255, 198, 27, 0.2) 0%,
    rgba(255, 164, 0, 0.2) 48.15%,
    rgba(187, 85, 2, 0.2) 100%
  );
  border: 1px solid #000000;
  filter: blur(219px);
  transform: rotate(-94.49deg);
  // @include sm {
  //     left: 20px;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  // }
}

.inputBorder:focus {
  border: 1.5px solid;
  border-image: linear-gradient(
      to right,
      #ffc61b 0%,
      #ffa400 100%,
      #bb5502 100%
    )
    1;
  border-radius: 2px;
  border-image-slice: 1;
}
